﻿
@{
    ViewBag.Title = "Fruits";
}

@section Styles {
    <style type="text/css">
        h2 {
            color: blue;
        }
    </style>
}

<h2>We have many fuits on stock</h2>

@section Scripts{
    <script type="text/javascript">
        console.log("We have many fruits")
    </script>>
}