﻿@model MVC2.Models.ContactModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<style type="text/css">
    .row {
        margin-bottom: 15px;
    }
</style>


@if (Model.ContactId > 0)
{
    <div class="row" style="margin-top: 15px;">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(m => m.Likes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Likes, new { @class = "form-control" })
        </div>
    </div>
}
else
{
    <div>
        Sorry no information found for the Contact: <span style="color: red"> @ViewBag.Message</span>
    </div>
}


@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
