﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <button id="btnAjax" type="button" class="btn btn-primary">Post new value</button>
    </div>
    <div class="col-md-8">
        <div>
            <h2>All Users</h2>
            <ul id="users" />
        </div>
        <div>
            <h2>Search by ID</h2>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="UserId" size="5" />
                    <input type="button" value="Search" onclick="find();" />
                </div>
                <div class="col-md-8">
                    <p id="user" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAjax').click(function () {

                $.ajax({
                    url: "/api/Values",
                    type: "GET",
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        console.log(xhr.status);
                    },
                    error: function (xhr, status, errorMsg) {
                        console.log(errorMsg);
                        console.log(xhr.status);
                    }
                });

                $.ajax({
                    url: "/api/Values",
                    type: "POST",
                    data: {
                        "Value": "banana"
                    },
                    success: function (data, textStatus, xhr) {
                        console.log(xhr.status);
                    },
                    error: function (jqxhr, status, errorMsg) {
                        console.log(errorMsg);
                        console.log(xhr.status);
                    }
                });

            });
        });
    </script>

    <script type="text/javascript">
        var uri = '/api/users';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) }).appendTo($('#users'));
                    });
                });
        });

        function formatItem(item) {
            return item.LastName + ': ' + item.Age + ' years old';
        }

        function find() {
            var id = $('#UserId').val();

            $.getJSON(uri + '/' + id)
                .done(function (data) {
                    $('#user').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#user').text('Error: ' + err);
                });
        }
    </script>
}
